//====================================================================================================

.mainslider {
   overflow: hidden;
   // margin: rem(120) rem(0) rem(0) rem(0);
   // max-height: rem(680);
   position: relative;
   background: linear-gradient(99.31deg, #02489f -26.39%, #1ab8ec 114.97%);
   @include adaptiveValue("padding-top", 160, 80);
   @include adaptiveValue("padding-bottom", 180, 80);
   @include adaptiveValue("max-height", 680, 580, 1488, 992, 1);

   // .mainslider__container

   &__container {
   }

   // .mainslider__slider

   &__slider {
      position: relative;
      z-index: 3;
      // margin-top: rem(-300);
      &.swiper {
         overflow: visible;
      }
   }

   // .mainslider__image

   &__image {
      position: absolute;
      // left: rem(350);
      @include adaptiveValue("bottom", 60, 110, 1400, 768, 1);
      @include adaptiveValue("left", 350, 140, 1400, 768, 1);

      img {
         @include adaptiveValue("max-height", 650, 550, 1400, 992, 1);
      }
      @media (max-width: $mobile) {
         bottom: rem(0);
      }
      @media (max-width: $mobile) {
         display: none;
      }
   }

   // .mainslider__wrapper

   &__wrapper {
      // max-height: 680px;
      @include adaptiveValue("max-height", 680, 580, 1400, 992, 1);
   }

   // .mainslider__slide

   &__slide {
      position: relative;
      z-index: 3;
      @media (max-width: $mobile) {
         min-height: rem(580);
      }
      // max-height: rem(680);

      // max-height: 680px;
   }

   // .mainslider__content

   &__content {
      @include adaptiveValue("max-width", 850, 220);
      mah-height: rem(500);
      @media (max-width: $mobile) {
         width: 100%;
         display: flex;
         justify-content: center;
         text-align: center;
         flex-direction: column;
         margin: 0 auto;
      }
   }

   // .mainslider__title

   &__title {
      // max-width: rem(850);
      width: 100%;
      &:not(:last-child) {
         margin-bottom: rem(32);
      }
   }

   // .mainslider__text

   &__text {
      &:not(:last-child) {
         margin-bottom: rem(56);
      }
      line-height: 140%;
      display: block;
      position: relative;
      z-index: 3;
      @include adaptiveValue("font-size", 20, 17);
   }

   // .mainslider__button

   &__button {
      @media (max-width:$mobileSmall){

      }
   }

   // .mainslider__arrow-big

   &__arrow-big {
      position: absolute;
      left: rem(100);
      bottom: rem(50);
      z-index: 2;
      font-size: rem(50);
      color: #1ab8ec;
      transform: rotate(-90deg);
      @media (max-width: $tablet) {
         display: none;
      }
   }

   // .mainslider__arrow-small

   &__arrow-small {
      position: absolute;
      transform: rotate(-90deg);
      z-index: 2;
      font-size: rem(35);
      left: rem(200);
      bottom: rem(100);
      color: #1ab8ec;
      @media (max-width: $tablet) {
         display: none;
      }
   }

   // .mainslider__arrow-circle

   &__arrow-circle {
      position: absolute;
      left: rem(-150);
      top: rem(0);
      z-index: 0;
      img {
         max-height: rem(500);
         max-width: rem(500);
      }
      @media (max-width: $tablet) {
         display: none;
      }
   }

   // .mainslider__arrow-star

   &__arrow-star {
      position: absolute;
      right: rem(-1100);
      bottom: rem(-1100);
      z-index: 0;
      transform: rotate(-170deg);
      max-width: rem(500);
      @media (max-width: $tablet) {
         display: none;
      }
   }
}
.mainslider-button-next {
   position: absolute;
   top: 0;
   right: 0;
   z-index: 2;
   cursor: pointer;
   transition: color 0.3s ease 0s;

   font-size: rem(50);
   color: #1ab8ec;
   @media (any-hover: hover) {
      &:hover {
         color: #fff;
      }
   }
   @media (max-width: $tablet) {
      display: none;
   }
}

.mainslider-pagination {
   &.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet {
      width: rem(10);
      height: rem(10);

      opacity: 1;
      border: 2px solid #ffffff;
      background-color: #1ab8ec;
      cursor: pointer;
      &.swiper-pagination-bullet-active {
         background: #ffffff;
      }
   }

   &.swiper-pagination-vertical.swiper-pagination-bullets {
      position: absolute;
      top: 30%;
      z-index: 2;
      right: rem(100);
      @media (max-width: $mobile) {
         top: 58%;
         left: 45%;
         height: rem(100);
         display: inline-flex;
         align-items: end;
      }
   }

   &.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
      width: rem(10);
      height: rem(10);

      opacity: 1;
      border: 2px solid #ffffff;
      background-color: #1ab8ec;
      cursor: pointer;
      &.swiper-pagination-bullet-active {
         background: #ffffff;
      }
      @media (min-width: $mobile) {
         margin: rem(5) rem(0);
      }
   }

   &.swiper-pagination-horizontal.swiper-pagination-bullets {
      position: absolute;
      top: 75%;
      z-index: 2;
      right: rem(100);
      @media (min-width: $mobile) {
         flex-direction: column;
         align-items: end;
         position: absolute;
         left: rem(-100);
         top: 30%;
         display: flex;
      }
   }
}

// ====================================================================================================

.quantity {
   @include adaptiveValue("padding-top", 104, 30, 768, 320, 1);
   @include adaptiveValue("padding-bottom", 104, 30, 768, 320, 1);
   // .quantity__items

   &__items {
      display: flex;
      justify-content: space-between;
      @media (max-width: $mobile) {
         flex-wrap: wrap;
      }
      @media (max-width: $mobileSmall) {
         justify-content: center;
         align-items: center;
      }
   }

   // .quantity__content

   &__content {
      @media (max-width: $mobileSmall) {
         flex: 0 1 50%;
         text-align: left;
      }
   }

   // .quantity__bg

   &__bg {
      &::before {
         position: absolute;
         @include adaptiveValue("font-size", 157, 100);
         top: rem(0);
         background-image: -webkit-linear-gradient(
            180deg,
            rgba(26, 184, 236, 0.15) 0%,
            rgba(2, 72, 159, 0.15) 100%
         ); /* For Chrome and Safari */
         background-image: -moz-linear-gradient(
            180deg,
            rgba(26, 184, 236, 0.15) 0%,
            rgba(2, 72, 159, 0.15) 100%
         ); /* For old Fx (3.6 to 15) */
         background-image: -ms-linear-gradient(
            180deg,
            rgba(26, 184, 236, 0.15) 0%,
            rgba(2, 72, 159, 0.15) 100%
         ); /* For pre-releases of IE 10*/
         background-image: -o-linear-gradient(
            180deg,
            rgba(26, 184, 236, 0.15) 0%,
            rgba(2, 72, 159, 0.15) 100%
         ); /* For old Opera (11.1 to 12.0) */
         background-image: linear-gradient(
            180deg,
            rgba(26, 184, 236, 0.15) 0%,
            rgba(2, 72, 159, 0.15) 100%
         ); /* Standard syntax; must be last */
         color: transparent;
         -webkit-background-clip: text;
         background-clip: text;
      }
      @media (max-width: $mobileSmall) {
         flex: 0 1 50%;
         display: block;
         &::before {
            background-image: -webkit-linear-gradient(180deg, #1ab8ec 0%, #02489f 100%); /* For Chrome and Safari */
            background-image: -moz-linear-gradient(180deg, #1ab8ec 0%, #02489f 100%); /* For old Fx (3.6 to 15) */
            background-image: -ms-linear-gradient(180deg, #1ab8ec 0%, #02489f 100%); /* For pre-releases of IE 10*/
            background-image: -o-linear-gradient(180deg, #1ab8ec 0%, #02489f 100%); /* For old Opera (11.1 to 12.0) */
            background-image: linear-gradient(180deg, #1ab8ec 0%, #02489f 100%); /* Standard syntax; must be last */
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
         }
      }
   }

   // .quantity__item

   &__item {
      position: relative;
      z-index: 1;
      flex: 0 0 rem(201);
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      padding: rem(30) rem(10);
      @media (max-width: $tablet) {
         flex: 0 0 rem(176);
      }
      @media (max-width: $mobile) {
         margin-bottom: rem(30);
      }
      @media (max-width: $mobileSmall) {
         flex: 1 1 100%;
         width: 100%;
         flex-direction: row;

         padding: rem(0) rem(10);
         &:not(:last-child) {
            margin-bottom: rem(56);
         }
      }

      @media (any-hover: hover) {
         &:hover {
            .quantity__link {
               &::before {
                  transform: rotate(0deg);
               }
            }
            .quantity__bg {
               &::before {
                  background-image: -webkit-linear-gradient(
                     180deg,
                     #1ab8ec 0%,
                     #02489f 100%
                  ); /* For Chrome and Safari */
                  background-image: -moz-linear-gradient(180deg, #1ab8ec 0%, #02489f 100%); /* For old Fx (3.6 to 15) */
                  background-image: -ms-linear-gradient(
                     180deg,
                     #1ab8ec 0%,
                     #02489f 100%
                  ); /* For pre-releases of IE 10*/
                  background-image: -o-linear-gradient(
                     180deg,
                     #1ab8ec 0%,
                     #02489f 100%
                  ); /* For old Opera (11.1 to 12.0) */
                  background-image: linear-gradient(
                     180deg,
                     #1ab8ec 0%,
                     #02489f 100%
                  ); /* Standard syntax; must be last */
                  color: transparent;
                  -webkit-background-clip: text;
                  background-clip: text;
               }
            }
         }
      }
   }

   // .quantity__number

   &__number {
      font-family: Magistral;
      font-style: normal;
      font-weight: 500;
      @include adaptiveValue("font-size", 104, 56);
      @include adaptiveValue("line-height", 125, 67);

      // line-height: rem(125);
      letter-spacing: 0.08em;
      color: #2b2b2b;

      span {
         position: relative;
         z-index: 3;
      }

      margin: rem(0) rem(0) rem(10) rem(0);
      @media (max-width: $mobileSmall) {
         padding: rem(0) rem(10);
         justify-content: start;
         &::before {
            top: 0;
         }
      }
   }

   // .quantity__link

   &__link {
      @include adaptiveValue("font-size", 20, 17);
      line-height: 140%;
      white-space: nowrap;
      color: #2b2b2b;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      @media (max-width: $tablet) {
         white-space: normal;
      }

      &::before {
         transform: rotate(-45deg);
         font-size: rem(10);
         padding: rem(3) rem(0) rem(0) rem(3);
      }
      @media (max-width: $mobileSmall) {
         justify-content: start;
         text-align: left;
         span {
            max-width: rem(120);
         }
      }
   }
}

//========================================================================================================================================================

.sport-objects {
   @include adaptiveValue("padding-top", 62, 36, 768, 320, 1);
   @include adaptiveValue("padding-bottom", 62, 36, 768, 320, 1);
   // .sport-objects__container

   &__container {
      text-align: center;
   }

   // .sport-objects__label

   &__label {
      display: flex;
      text-align: left;
      justify-content: space-between;
      @include adaptiveValue("margin-bottom", 56, 32);
      @media (max-width: $mobile) {
         flex-direction: column;
         align-items: start;
      }
   }

   // .sport-objects__title

   &__title {
      @media (max-width: $mobile) {
         max-width: rem(400);
         &:not(:last-child) {
            margin-bottom: rem(16);
         }
      }
   }

   // .sport-objects__map

   &__map {
      color: #02489f;
      font-family: Magistral;
      font-weight: bold;
      font-size: rem(30);
      line-height: 130%;
      letter-spacing: 1px;
      text-transform: uppercase;
      display: flex;
      transition: color 0.3s ease 0s;

      flex-direction: row-reverse;
      align-items: center;
      &::before {
         padding: rem(0) rem(0) rem(0) rem(5);
         font-size: rem(24);
      }
      @media (any-hover: hover) {
         &:hover {
            color: rgba(2, 72, 159, 0.7);
         }
      }
      @media (max-width: $mobile) {
         font-size: rem(20);
      }
   }

   // .sport-objects__items

   &__items {
      &:not(:last-child) {
         margin-bottom: rem(48);
      }
      @media (min-width: $mobile) {
         display: flex;
         &:not(:last-child) {
            margin-bottom: rem(74);
         }
         justify-content: space-between;
      }
   }

   // .sport-objects__item

   &__item {
      @include adaptiveValue("flex-basis", 340, 300);
      @media (max-width: $mobile) {
         &:not(:last-child) {
            margin-bottom: rem(64);
         }
      }
   }
   // .sport-objects__button

   &__button {
      text-align: center;
   }
}

.item-sport-objects {
   display: flex;
   flex-direction: column;
   &:not(:last-child) {
      @include adaptiveValue("margin-right", 40, 24, 1920, 768, 1);
   }
   // .item-sport-objects__image-ibg

   &__image-ibg {
      padding: rem(0) rem(0) 70.5% rem(0);
      margin-bottom: rem(16);
      overflow: hidden;
      img {
         transition: all 0.3s ease 0s;
      }
      @media (any-hover: hover) {
         &:hover {
            img {
               transform: scale(1.1);
            }
         }
      }
   }

   // .item-sport-objects__label

   &__label {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   // .item-sport-objects__title

   &__title {
      font-weight: bold;
      font-size: rem(20);
      line-height: 140%;
      transition: color 0.3s ease 0s;

      color: #2b2b2b;
      @media (any-hover: hover) {
         &:hover {
            color: #02489f;
         }
      }
      @media (max-width: $mobile) {
         font-size: rem(17);
      }
   }

   // .item-sport-objects__link

   &__link {
      font-weight: 500;
      font-size: rem(15);
      line-height: 140%;
      transition: color 0.3s ease 0s;

      text-decoration-line: underline !important;
      color: #02489f;
      @media (any-hover: hover) {
         &:hover {
            color: rgba(2, 72, 159, 0.7);
         }
      }
   }

   // .item-sport-objects__last

   &__last {
      @media (max-width: $tablet) {
         display: none;
      }
   }
}

//========================================================================================================================================================

.news {
   @include adaptiveValue("padding-top", 104, 72, 768, 320, 1);
   @include adaptiveValue("padding-bottom", 104, 72, 768, 320, 1);
   background: #02489f;
   position: relative;
   background: -moz-linear-gradient(left, #02489f 0%, #1ab8ec 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(left, #02489f 0%, #1ab8ec 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to right, #02489f 0%, #1ab8ec 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02489f', endColorstr='#1ab8ec',GradientType=1 ); /* IE6-9 */

   // .news__container

   &__container {
      text-align: center;
   }

   // .news__title

   &__title {
      text-align: left;
      margin-bottom: rem(56);
   }

   // .news__body

   &__body {
   }
   // .news__circle

   &__circle {
      position: absolute;
      bottom: -5%;
      right: -8%;
      // max-width: 400px;
      // max-height: 400px;
      @include adaptiveValue("max-width", 400, 200);
      @include adaptiveValue("max-height", 400, 200);
      img {
         width: 100%;
         height: 100%;
      }
      @media (max-width: $mobile) {
         display: none;
      }
   }
}

.body-news {
   display: flex;
   justify-content: space-between;
   @media (max-width: $tablet) {
      flex-direction: column;
   }
   // .body-news__item

   &__item {
   }
}
.item-body-news {
   text-align: left;
   flex: 0 1 rem(597);
   padding: rem(0) rem(20);

   // .item-body-news__image-ibg

   &__image-ibg {
      padding-bottom: 63.5%;
      position: relative;
      &:not(:last-child) {
         margin-bottom: rem(32);
      }
      &::before {
         content: "";
         display: block;
         background: url("@img/news/star.svg") left no-repeat;
         width: rem(1100);
         height: 100%;
         position: absolute;
         right: rem(24);
         top: rem(-24);
      }
   }

   // .item-body-news__body

   &__body {
      > * {
         &:not(:last-child) {
            margin: rem(0) rem(0) rem(24) rem(0);
         }
      }
      transition: color 0.3s ease 0s;

      @media (any-hover: hover) {
         &:hover {
            color: rgba(255, 255, 255, 0.7);
         }
      }
   }

   // .item-body-news__content

   &__content {
      display: block;
      @include adaptiveValue("margin-bottom", 80, 48);
   }

   // .item-body-news__date

   &__date {
      font-size: rem(15);
      line-height: 140%;
      color: rgba(255, 255, 255, 0.5);
   }

   // .item-body-news__title

   &__title {
      font-weight: bold;
      @include adaptiveValue("font-size", 25, 20);
      line-height: 120%;
   }

   // .item-body-news__text

   &__text {
      @include adaptiveValue("font-size", 20, 15);
      line-height: 140%;
      @media (max-width: $mobileSmall) {
         overflow: hidden;
         display: -webkit-box;
         -webkit-line-clamp: 4;
         -webkit-box-orient: vertical;
      }
   }

   // .item-body-news__link

   &__link {
      margin-top: rem(24);
   }

   // .item-body-news__category

   &__category {
      &:not(:last-child) {
         margin-right: rem(8);
      }
   }
}
//========================================================================================================================================================

.projects {
   @include adaptiveValue("padding-top", 62, 36, 768, 320, 1);
   @include adaptiveValue("padding-bottom", 62, 36, 768, 320, 1);
   // .projects__container

   &__container {
   }

   // .projects__title

   &__title {
      margin: rem(0) rem(0) rem(56) rem(0);
   }

   // .projects__items

   &__items {
   }

   // .projects__button

   &__button {
      text-align: center;
   }
}

.items-projects {
   display: flex;
   flex-direction: column;
   margin: rem(0) rem(0) rem(72) rem(0);


   @media (max-width: em(1490)) {
      flex-direction: row;
      justify-content: space-between;
   }
   @media (max-width: em(991.98)) {
      flex-direction: column;
   }
   @media (max-width: em(768)) {
      margin: rem(0) rem(0) rem(48) rem(0);
   }


   // .items-projects__double-items

   &__double-items {
   }

   // .items-projects__single-items

   &__single-items {
   }
}

.double-items-item {
   box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.08);
   display: inline-flex;
   height: rem(380);
   max-width: rem(724);
   margin: rem(0) rem(0) rem(56) rem(0);

   @media (max-width: em(1100)) {
      max-width: rem(621);
   }
   @media (max-width: em(991.98)) {
      flex-direction: column;
      max-width: rem(348);
      height: 100%;
      max-height: rem(663);
   }
}

.double-items-projects {
   display: flex;
   justify-content: space-between;


   @media (max-width: 1490px) {
      flex-direction: column;
   }
   @media (max-width: em(991.98)) {
      flex-direction: row;
      justify-content: space-between;
   }
   @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
   }
   // .double-items-projects__image-ibg

   &__image-ibg {
      flex: 0 0 rem(342);

      @media (max-width: em(1100)) {
         flex: 0 0 rem(299);
      }
      @media (max-width: em(991.98)) {
         flex: 0 0 rem(380);
      }
   }

   // .double-items-projects__body

   &__body {
      flex: 0 0 rem(342);
      display: flex;
      flex-direction: column;
      @media (max-width: em(991.98)) {
         flex: 0 0 rem(283);
      }
   }

   // .double-items-projects__content

   &__content {
      flex: 1 1 auto;
      @media (max-width: em(991.98)) {
         padding-bottom: 0;
      }
   }

   // .double-items-projects__title

   &__title {
   }

   // .double-items-projects__text

   &__text {
   }

   // .double-items-projects__link

   &__link {
   }

   // .double-items-projects__categories

   &__categories {
      @media (max-width: em(991.98)) {
         padding-top: 0;
      }
   }

   // .double-items-projects__categorie

   &__categorie {
   }
}

//========================================================================================================================================================

.single-items-projects {
   display: flex;
   justify-content: space-between;

   @media (max-width: 1490px) {
      flex-direction: column;
      justify-content: start;
   }
   @media (max-width: em(991.98)) {
      flex-direction: row;
      // flex-direction: column;
      justify-content: space-between;
   }
   @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
   }
   // .single-items-projects__item

   &__item {
      flex: 0 0 rem(342);
      background: #ffffff;
      box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.08);
      @media (max-width: em(1490)) {
         height: rem(380);
         margin: rem(0) rem(0) rem(56) rem(0);
         width: rem(300);
      }
      @media (max-width: em(768)) {
         width: rem(348);
         height: rem(403);
      }
   }

   // .single-items-projects__card

   &__card {
   }

   // .single-items-projects__item-hide

   &__item-hide {
      @media (max-width: em(1490)) {
         display: none;
      }
   }
}
.card-single-items {
   // max-height: rem(380);
   height: 100%;
   position: relative;
   // .card-single-items__image-ibg

   &__image-ibg {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
   }

   // .card-single-items__body

   &__body {
      display: flex;
      flex-direction: column;
   }

   // .card-single-items__content

   &__content {
      padding-top: rem(255);
      position: relative;
      z-index: 2;
      font-weight: bold;
      font-size: rem(20);
      line-height: 140%;
      color: #ffffff;
      @media (max-width: em(1490)) {
         padding-top: rem(227);
      }
      @media (max-width: em(991.98)) {
         padding-top: rem(278);
      }
   }

   // .card-single-items__text

   &__text {
      color: #ffffff;
      transition: color 0.3s ease 0s;

      @media (any-hover: hover) {
         &:hover {
            color: rgba(255, 255, 255, 0.7);
         }
      }
   }

   // .card-single-items__categories

   &__categories {
      padding-top: 0;
      position: relative;
      z-index: 2;
   }

   // .card-single-items__categorie

   &__categorie {
      color: rgba(255, 255, 255, 0.5);
   }
}

.card-single-items-banner {
   // .card-single-items-banner__image-ibg

   &__image-ibg {
      padding: rem(0) rem(0) 35% rem(0);
   }

   // .card-single-items-banner__text

   &__text {
      line-height: 140%;
      font-weight: normal;
      color: #2b2b2b;
   }

   // .card-single-items-banner__content

   &__content {
   }

   // .card-single-items-banner__categories

   &__categories {
      padding: rem(0) rem(24);
      @media (max-width: em(768)) {
         padding: rem(22) rem(24);
      }
   }

   // .card-single-items-banner__categorie

   &__categorie {
   }
}
//========================================================================================================================================================

.calendar {
   @include adaptiveValue("padding-top", 62, 30, 768, 320, 1);
   @include adaptiveValue("padding-bottom", 62, 30, 768, 320, 1);
   text-align: center;
   position: relative;

   // .calendar__container

   &__container {
   }

   // .calendar__title

   &__title {
      text-align: left;
      @include adaptiveValue("margin-bottom", 56, 32);
   }

   // .calendar__arrow-big

   &__arrow-big {
      color: #1ab8ec;
      display: inline-block;
      position: absolute;
      bottom: 0;
      left: 4%;
      z-index: -1;
      &::before {
         font-size: rem(200);
         transform: rotate(-90deg);
      }
      @media (max-width: $pc) {
         display: none;
      }
   }

   // .calendar__arrow-small

   &__arrow-small {
      color: #1ab8ec;
      position: absolute;
      bottom: 25%;
      left: 2%;
      z-index: -1;
      display: inline-block;
      &::before {
         font-size: rem(66);
         transform: rotate(-90deg);
      }
      @media (max-width: $pc) {
         display: none;
      }
   }

   // .calendar__arrow-circle

   &__arrow-circle {
      width: rem(500);
      height: rem(500);
      position: absolute;
      right: -8%;
      top: rem(320);
      z-index: -1;
      transform: rotate(-90deg);
      img {
         width: 100%;
         height: 100%;
      }
      @media (max-width: $pc) {
         display: none;
      }
   }

   // .calendar__button

   &__button {
      @media (max-width: $mobileSmall) {
         display: none;
      }
      @include adaptiveValue("margin-top", 56, 32);
      span {
         &::before {
            transform: rotate(-270deg);
            position: relative;
            top: rem(-10);
            font-size: rem(13);
         }
      }
      @media (any-hover: hover) {
         &:hover {
            span {
               &::before {
                  top: rem(-2);
                  transform: rotate(-270deg) translate(0px, 0px);
               }
            }
         }
      }
   }
}
//========================================================================================================================================================

.media {
   @include adaptiveValue("padding-top", 62, 30, 768, 320, 1);
   @include adaptiveValue("padding-bottom", 62, 30, 768, 320, 1);
   color: #2b2b2b;
   // .media__container

   &__container {
      overflow: visible;
   }

   // .media__slider

   &__slider {
      position: relative;
      @include adaptiveValue("margin-bottom", 93, 48);
      &.swiper {
         overflow: visible;
      }
      &::before {
         content: "";
         display: inline-block;
         width: 100%;
         height: 100%;
         background-color: #fafafa;
         position: absolute;
         top: 0;
         left: -100%;
         z-index: 2;
      }
   }

   // .media__header

   &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &:not(:last-child) {
         margin-bottom: rem(56);
      }
   }

   // .media__title

   &__title {
   }

   // .media__navigation

   &__navigation {
   }

   // .media__wrapper

   &__wrapper {
   }

   // .media__slide-video

   &__slide-video {
   }

   // .media__slide

   &__slide {
   }

   // .media__button

   &__button {
      text-align: center;
   }
}

.navigation-media {
   display: flex;
   align-items: center;
   // .navigation-media__prev

   &__prev {
      &:not(:last-child) {
         margin-right: rem(24);
      }
      &::before {
         @include adaptiveValue("font-size", 64, 28);
         cursor: pointer;
         color: rgba(2, 72, 159, 0.3);
         transform: rotate(-180deg);
         display: inline-block;
      }
   }

   // .navigation-media__next

   &__next {
      &::before {
         @include adaptiveValue("font-size", 64, 28);
         cursor: pointer;
         transition: color 0.3s ease 0s;

         color: #02489f;
      }
      @media (any-hover: hover) {
         &:hover {
            &::before {
               color: rgba(2, 72, 159, 0.7);
            }
         }
      }
   }
}

.video-media-slide {
   @include adaptiveValue("max-width", 597, 280, 768, 320, 1);
   // width: 500px;
   // .video-media-slide__video

   &__video {
      @include adaptiveValue("width", 597, 280, 768, 320, 1);
      @include adaptiveValue("height", 329, 152, 768, 320, 1);
      // max-width: 597px;
      // max-height: 329px;
      video {
         width: 100%;
         height: 100%;
      }
   }

   // .video-media-slide__content

   &__content {
   }

   // .video-media-slide__date

   &__date {
      color: rgba(43, 43, 43, 0.5);
      line-height: 140%;
      &:not(:last-child) {
         margin-bottom: rem(16);
      }
   }

   // .video-media-slide__text

   &__text {
      line-height: 140%;
      &:not(:last-child) {
         margin-bottom: rem(24);
      }
   }

   // .video-media-slide__categories

   &__categories {
      padding: 0;
      @media (max-width: $mobileSmall) {
         display: flex;
         flex-direction: column;
         align-items: start;
      }
   }

   // .video-media-slide__categorie

   &__categorie {
      &:not(:last-child) {
         margin-bottom: rem(8);
      }
   }
}

.photo-media-slide {
   max-width: rem(342);
   @include adaptiveValue("max-width", 342, 112, 768, 320, 1);

   // .photo-media-slide__image-ibg

   &__image-ibg {
      padding: rem(0) rem(0) 66.7% rem(0);
      &:not(:last-child) {
         margin-bottom: rem(24);
      }
   }

   // .photo-media-slide__content

   &__content {
   }

   // .photo-media-slide__header

   &__header {
      display: flex;
      justify-content: space-between;
      &:not(:last-child) {
         margin-bottom: rem(16);
      }
      @media (max-width: $mobile) {
         flex-direction: column;
      }
   }

   // .photo-media-slide__date

   &__date {
      color: rgba(43, 43, 43, 0.5);
   }

   // .photo-media-slide__link

   &__link {
      color: #02489f;
      transition: color 0.3s ease 0s;
      @media (any-hover: hover) {
         &:hover {
            color: #1ab8ec;
         }
      }
   }

   // .photo-media-slide__text

   &__text {
      line-height: 140%;
      &:not(:last-child) {
         margin-bottom: rem(24);
      }
   }

   // .photo-media-slide__categories

   &__categories {
      padding: 0;
   }

   // .photo-media-slide__categorie

   &__categorie {
   }
}
//========================================================================================================================================================

.market {
   overflow: hidden;
   position: relative;
   @include adaptiveValue("padding-top", 104, 60, 768, 320, 1);
   @include adaptiveValue("padding-bottom", 104, 60, 768, 320, 1);

   background: -moz-linear-gradient(left, #02489f 0%, #1ab8ec 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(left, #02489f 0%, #1ab8ec 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to right, #02489f 0%, #1ab8ec 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02489f', endColorstr='#1ab8ec',GradientType=1 ); /* IE6-9 */
   // .market__container

   &__container {
   }

   // .market__title

   &__title {
      position: relative;
      z-index: 2;
      @include adaptiveValue("margin-bottom", 56, 34);
   }

   // .market__items

   &__items {
      display: flex;
      margin: rem(0) rem(-15);
      padding: rem(0) rem(15);
      justify-content: space-between;
      @include adaptiveValue("margin-bottom", 72, 48);
      position: relative;
      z-index: 2;
      @media (max-width: $tablet) {
         flex-wrap: wrap;
         align-items: center;
      }
      @media (max-width: $mobileSmall) {
         padding: 0;
      }
   }

   // .market__item

   &__item {
   }

   // .market__button

   &__button {
      text-align: center;
   }

   // .market__arrow

   &__arrow {
      position: absolute;
      color: #1ab8ec;
      font-size: rem(390);
      top: -9%;
      left: -10%;
      z-index: 0;
   }
}

.item-market {
   display: flex;
   flex-direction: column;
   flex: 0 1 20%;
   position: relative;
   max-width: rem(342);

   @include adaptiveValue("margin-bottom", 56, 32);
   @media (max-width: $tablet) {
      flex: 0 1 50%;
   }
   &:last-child {
      &::before {
         content: "";
         background: url("@img/market/01.svg") right no-repeat;
         position: absolute;
         width: 100%;
         display: block;
         height: 80%;
         top: rem(-30);
         right: rem(-20);
      }
   }
   @media (max-width: $mobile) {
      padding: rem(0) rem(10);
      &:last-child {
         &::before {
            top: rem(-30);
            right: rem(-20);
         }
      }
   }

   @media (any-hover: hover) {
      &:hover {
         .item-market__image-ibg {
            position: relative;
            img {
               transform: scale(1.1);
            }
         }
         .item-market__name {
            color: rgba(255, 255, 255, 0.7);
         }
      }
   }

   // .item-market__image-ibg

   &__image-ibg {
      overflow: hidden;
      max-height: rem(420);
      padding: rem(0) rem(0) 124% rem(0);
      img {
         transition: all 0.3s ease 0s;
      }
   }

   // .item-market__title

   &__title {
      margin: rem(8) rem(0) rem(0) rem(0);
      overflow: hidden;
      color: rgba(255, 255, 255, 0.5);
      line-height: 140%;
      &:not(:last-child) {
         margin-bottom: rem(4);
      }
      font-weight: 500;
   }

   // .item-market__body

   &__body {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   // .item-market__name

   &__name {
      font-weight: 500;
      @include adaptiveValue("font-size", 20, 17);
      line-height: 140%;
      transition: color 0.3s ease 0s;
   }

   // .item-market__price

   &__price {
      line-height: 140%;
      white-space: nowrap;
   }

   // .item-market__last
}
//========================================================================================================================================================

.partnership {
   @include adaptiveValue("padding-top", 104, 60, 768, 320, 1);
   @include adaptiveValue("padding-bottom", 104, 60, 768, 320, 1);
   color: #2b2b2b;
   // .partnership__container

   &__container {
   }

   // .partnership__slider

   &__slider {
   }

   // .partnership__header

   &__header {
      display: flex;
      justify-content: space-between;
   }

   // .partnership__title

   &__title {
      @include adaptiveValue("margin-bottom", 56, 32);
   }

   // .partnership__navigation

   &__navigation {
   }

   // .partnership__wrapper

   &__wrapper {
   }

   // .partnership__slide

   &__slide {
   }
}

.navigation-partnership {
   display: flex;
   align-items: center;
}
.partnership-button {
   // .partnership-button__prev

   &__prev {
      &:not(:last-child) {
         margin-right: rem(24);
      }
      &::before {
         @include adaptiveValue("font-size", 64, 28);
         cursor: pointer;
         color: rgba(2, 72, 159, 0.3);
         transform: rotate(-180deg);
         display: inline-block;
      }
   }

   // .partnership-button__next

   &__next {
      &::before {
         @include adaptiveValue("font-size", 64, 28);
         cursor: pointer;
         transition: color 0.3s ease 0s;

         color: #02489f;
      }
      @media (any-hover: hover) {
         &:hover {
            &::before {
               color: rgba(2, 72, 159, 0.7);
            }
         }
      }
   }
}

.slide-partnership {
   box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.08);
   height: 100%;
   position: relative;

   // .lide-partnership__label

   &__label {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      transition: all 0.3s ease 0s;
      background: transparent;
      cursor: pointer;
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: end;
      span {
         color: #fff;
         padding: rem(40) rem(0);
         display: flex;
         text-transform: uppercase;
         align-items: center;
         &::after {
            @extend %ic;
            content: "\e983";
            padding: rem(0) rem(0) rem(0) rem(16);
            font-size: rem(12);
         }
      }
      background: linear-gradient(
         0deg,
         rgba(2, 72, 159, 0.7) 0%,
         rgba(2, 72, 159, 0.6) 0.01%,
         rgba(2, 72, 159, 0.4) 100%
      );
      background: -moz-linear-gradient(
         0deg,
         rgba(2, 72, 159, 0.7) 0%,
         rgba(2, 72, 159, 0.6) 0.01%,
         rgba(2, 72, 159, 0.4) 100%
      );
      background: -webkit-linear-gradient(
         0deg,
         rgba(2, 72, 159, 0.7) 0%,
         rgba(2, 72, 159, 0.6) 0.01%,
         rgba(2, 72, 159, 0.4) 100%
      );
      @media (any-hover: hover) {
         &:hover {
            opacity: 1;
         }
      }
   }

   // .slide-partnership__image-ibg

   &__image-ibg {
      padding: rem(0) rem(0) 42% rem(0);
      position: relative;
   }

   // .slide-partnership__categories

   &__categories {
      position: absolute;
      bottom: 0;
      left: 0;
      @media (max-width: $mobileSmall) {
         padding: rem(5);
      }
   }

   // .slide-partnership__categorie

   &__categorie {
   }
}
